/*footer*/
html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

/* Navbar logo size */
.navbar .logo {
    height: 50px;
    width: auto;
    max-width: 150px;
    object-fit: contain; /* Ensure image fits within the specified dimensions */
    margin-right: 10px; /* Add spacing if needed */
}

/* -- Membership EJS -- */
/* Membership cards */
.membership-card {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .gold {
    background-color: #ffd700;
    color: #3425a5;
  }
  
  .silver {
    background-color: #c0c0c0;
    color: #3425a5;
  }
  
  .bronze {
    background-color: #cd7f32;
    color: #3425a5;
  }
  