<div class="container my-5">
    <h1 class="mb-4 text-center">Contact Us</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-custom p-4">
                <h4>Get in Touch</h4>
                <p>If you have any questions, suggestions, or want to get involved with our football club, please reach out to us using the information below or the contact form (coming soon).</p>
                <ul class="list-unstyled mb-4">
                    <li><i class="fas fa-map-marker-alt me-2"></i> 123 Stadium Street, City, Country</li>
                    <li><i class="fas fa-phone me-2"></i> (123) 456-7890</li>
                    <li><i class="fas fa-envelope me-2"></i> info@footballclub.com</li>
                </ul>
                <h5>Contact Form (Coming Soon)</h5>
                <div class="alert alert-info">A contact form will be available here soon for your convenience.</div>
            </div>
        </div>
    </div>
</div> 